core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
idea/*
/.idea/codestream.xml
/.idea/CustomInspectionsConfig.xml
/.idea/LoveSandwiches.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.github/workflows/*
venv/*
