# =================================================================
# Gitpod
core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
# =================================================================
# Project Locals
idea/*
/.idea/codestream.xml
/.idea/CustomInspectionsConfig.xml
/.idea/LoveSandwiches.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.github/workflows/*
venv/*
node_modules/
# =================================================================
# Creds/Secret
creds.json
.env
# =================================================================
# Extensions/Plugin
/.write/
